$primary-color: rgb(252, 226, 186);

* {
    margin: 0;
}

.container {
    margin: auto;
    width: 90%;
    max-width: 1140px;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

body {
    margin: 0;
}

//＝＝＝＝＝＝＝＝
//頁首
//＝＝＝＝＝＝＝＝

header {
    background-color: rgb(171, 126, 71);
}

header>.container h1 {
    padding-top: 20px;
    color: $primary-color;
}

header>.container h1>a {
    color: $primary-color;
}



header>.container nav>ul {
    display: flex;
    // justify-content: space-between;
}

header>.container>nav>ul>li {
    margin-right: 30px;
}

header>.container nav>ul>li>a {
    text-decoration: none;
    line-height: 60px;
    color: $primary-color;
    font-size: 1.2em;
    letter-spacing: 2px;
}

header>.container nav>ul>li>a:hover {
    color: rgb(104, 69, 0);
    border-bottom: 2px solid rgb(104, 69, 0);
}

//product 內容區

.container>section>.row>h2 {
    color: rgb(149, 98, 2);
    margin-left: 15px;
}

.breadcrumb {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.breadcrumb a {
    color: black;
}

.w-20 {
    width: 20%;
}

.w-80 {
    width: 80%;
}

.container>.row>aside a {
    color: white;
    background-color: rgb(165, 91, 0);
    display: block;
    width: 90%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.container>.row>aside a:hover {
    background-color: rgb(63, 33, 0);

}

.container>.row>main h2 {
    margin: 0;
    padding: 0;
    padding-left: 15px;
    margin-bottom: 10px;
    color: rgb(100, 56, 0);
}

.container>.row>main a {
    color: rgb(66, 33, 1);
}

.container>.row>main a:hover {
    color: rgb(176, 89, 2);
}

.img-wrap {
    display: block;
    // background-color: rgb(40, 40, 40);
    position: relative;
    margin-bottom: 10px;

}

.img-overlay {
    overflow: hidden;
    border-radius: 8px;
}

.img-wrap img {
    vertical-align: top;
    transition: all .5s;
}

.img-wrap img:hover {
    transform: scale(1.5);
}

.icon-new {
    position: absolute;
    width: 50px;
    line-height: 50px;
    color: white;
    border-radius: 100%;
    background-color: green;
    top: -10px;
    left: -5px;
}

.container>.row>main .col-4 {
    padding-bottom: 5px;
    border-bottom: 2px dotted rgb(161, 161, 161);
}
//product 內容區
.container>.row>ul{
    display: flex;
}
.container>.row>ul>li>a{
    display: block;
    width: 100px;
    background-color: rgb(137, 106, 40);
    text-align: center;
    color: $primary-color;
}

//activity 內容區

//==========
//內容區塊
//==========

//圖片相關樣式
.img-fluid {
    width: 100%;
    height: 300px;
}

.img-rounded {
    border-radius: 8px;
}

.img-circle {
    border-radius: 100%;
    /*圓形*/
}

//圖片相關樣式



//文字相關樣式
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-justify {
    text-align: justify;
}

//文字相關樣式

.row {
    display: flex;
    flex-wrap: wrap;
    /*換行*/
}

//四欄式
.col-3 {
    width: calc(100% / 4 - 30px);
    margin: 0px 15px 40px 15px;
    // background-color: red;
    // 上右下左
}

//三欄式
.col-4 {
    width: calc(100% / 3 - 30px);
    margin: 0px 15px 40px 15px;
    // 上右下左


}

//兩欄式
.col-6 {
    width: calc(100% / 2 - 30px);
    margin: 0px 15px 40px 15px;
}

.col-8 {
    width: calc(100% / 1.5 - 30px);
    margin: 0px 15px 40px 15px;
}

.col-9 {
    width: calc(100% / 1.333333 - 30px);
    margin: 0px 15px 40px 15px;
}
.col-12{
    width: calc(100% / 1  - 30px);
    margin: 0px 15px 40px 15px;
}

@media (min-width:768px){
.col-md-3 {
    width: calc(100% / 4 - 30px);
    margin: 0px 15px 40px 15px;
    // background-color: red;
    // 上右下左
}

//三欄式
.col-md-4 {
    width: calc(100% / 3 - 30px);
    margin: 0px 15px 40px 15px;
    // 上右下左


}

//兩欄式
.col-md-6 {
    width: calc(100% / 2 - 30px);
    margin: 0px 15px 40px 15px;
}

.col-md-8 {
    width: calc(100% / 1.5 - 30px);
    margin: 0px 15px 40px 15px;
}

.col-md-9 {
    width: calc(100% / 1.333333 - 30px);
    margin: 0px 15px 40px 15px;
}
.col-md-12{
    width: calc(100% / 1  - 30px);
    margin: 0px 15px 40px 15px;
}
.order-md-1{
    order: -1;
}
}
@media (min-width:1200px){
    .col-lg-3{
        width: calc(100% / 4 - 30px);
        margin:0px 15px 40px 15px;
        /*上右下左*/
    }
    .col-lg-4{
        width: calc(100% / 3 - 30px);
        margin:0px 15px 40px 15px;
        /*上右下左*/
    }
    .col-lg-6{
        width: calc(100% / 2 - 30px);
        margin:0px 15px 40px 15px;
        /*上右下左*/
    }
    .col-lg-8{
        width: calc(100% / 1.5 - 30px);
        margin:0px 15px 40px 15px;
        /*上右下左*/
    }
    .col-lg-9{
        width: calc(100% / 1.33333333333 - 30px);
        margin:0px 15px 40px 15px;
        /*上右下左*/
    }
}

//以上是土法煉鋼

//迴圈的寫法 start
    @for $i from 1 through 12 {
        .col-#{$i}{
            --num:calc(12 / #{$i});
            width: calc(100%/ var(--num) - 30px);
            margin: 0px 15px 40px 15px;
        }
    }
@media (min-width:768px){
    @for $i from 1 through 12 {
        .col-md-#{$i}{
        --num:calc(12 / #{$i});
            width: calc(100%/ var(--num) - 30px);
            margin: 0px 15px 40px 15px;
        }
    }
}
@media (min-width:1200px){
    @for $i from 1 through 12 {
        .col-lg-#{$i}{
            --num:calc(12 / #{$i});
            width: calc(100%/ var(--num) - 30px);
            margin: 0px 15px 40px 15px;
        }
    }
}
//迴圈的寫法 end

.title a {
    color: rgb(80, 40, 4);
    font-size: 1.5em;
    font-weight: 500;
}

.date {
    color: rgb(170, 129, 18);
}

h2 {
    font-size: 2em;
    margin: 60px auto 30px auto;
}


//＝＝＝＝＝＝＝＝
//頁首
//＝＝＝＝＝＝＝＝

footer {
    background-color: rgb(171, 126, 71);
    padding: 40px 0 40px 0;
}

dt {
    font-size: 1.2em;
    margin-bottom: 10px;
}

dd {
    margin-bottom: 4px;
}

dd>a {
    color: $primary-color;

}

dd>a:hover {
    color: rgb(104, 69, 0);
}


//圖片滑動放大效果
.container>.row>.col-4>a>div {
    height: 300px;
    overflow: hidden;
    border-radius: 8px;
}

.container>.row>.col-4>a>div>img {
    display: block;
    transition: all .5s;
}

.container>.row>.col-4>a>div:hover>img {
    transform: scale(1.5);
}

//圖片滑動放大效果

//icon-menu



//小於767px以下執行 start
@media(max-width:767px) {
    h1 {
        // background-color: rgb(3, 90, 22);
        // float: left;
        // width: 85%;
    }

    .icon-menu {
        display: block;
        width: 15%;
        color: black;
        background-color: $primary-color;
        line-height: 65px;
        text-align: center;
        // float: right;
    }

header{
    position: relative;
}

    header>.container {
        position: relative;
    }

    header>.container nav {
        width: 100%;
        position: absolute;
        top:65px;
        background-color: rgba(176, 144, 80, 0.93);
        // float: left;
        // display: none;
    }
    nav{
        //viewport width
        left:-100vw;
        transition: all .3s;
    }
    .icon-menu:hover + nav{
        left:0px;
        
        
    }

    header>.container nav.active {
        display: block;
    }

    header>.container nav>ul {
        display: block;
    }

    header>.container nav>ul>li {
        text-align: center;
        width: 100%;
        // border-bottom: 1px solid $primary-color;
    }

}
.flex-space-between{
    justify-content: space-between;
}

//max-width 767 end

//超過768px以上執行 start
@media (min-width:768px) {
    .icon-menu {
        display: none;
    }
}

//min-width 768  end


//for迴圈
//from through 從1開始到3
@for $i from 1 through 3 {
    .fz-#{$i}{
        font-size: $i*1em;
    }
}
@for $i from 1 through 5{
    .mb-#{$i}{
        margin-bottom: $i*1em;
    }
}

//onlinesote區 start
.container>section>h2{
    color: rgb(171, 111, 1);
    margin: 0;
}
.container>section>h2>.row{
    margin-top: 30px;
}









//onlinesote區 end


#icon-1 {
    display: block;
    width: 300px;
    height: 300px;
    background-image: url(../images/icon_rakuten_original.jpg);
    border-radius: 8px;
    }
#icon-1:hover{
    background-image: url(../images/icon_rakuten.jpg);
    transition: all .5s ease-out;
    border-radius: 8px;
    border: 1px solid rgb(160, 160, 160);
    box-sizing: border-box;
    }