$primary-color: rgb(252, 226, 186);

* {
    margin: 0;
}

.container {
    margin: auto;
    width: 90%;
    max-width: 1140px;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

body {
    margin: 0;
}

//＝＝＝＝＝＝＝＝
//頁首
//＝＝＝＝＝＝＝＝

header {
    background-color: rgb(137, 76, 0);
}

header>.container>h1 {
    padding-top: 20px;
    color: $primary-color;
}

header>.container>h1>a {
    color: $primary-color;
}



header>.container>nav>ul {
    display: flex;
    // justify-content: space-between;
}

header>.container>nav>ul>li {
    margin-right: 30px;
}

header>.container>nav>ul>li>a {
    text-decoration: none;
    line-height: 60px;
    color: $primary-color;
    font-size: 1.2em;
    letter-spacing: 2px;
}

//==========
//內容區塊
//==========

//圖片相關樣式
.img-fluid {
    width: 100%;
}
.img-rounded{
    border-radius: 8px;
}
.img-circle{
    border-radius: 100%; //圓形
}
//圖片相關樣式



//文字相關樣式
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-justify{
    text-align: justify;
}
//文字相關樣式

.row {
    display: flex;
    flex-wrap: wrap; /*換行*/
}

//四欄式
.col-3 {
    width: calc(100% / 4 - 30px);
    margin: 0px 15px 40px 15px;
    // 上右下左
}
//三欄式
.col-4 {
    width: calc(100% / 3 - 30px);
    margin: 0px 15px 40px 15px;
    // 上右下左
    
}
//兩欄式
.col-6{
    width: calc(100% / 2 - 30px);
    margin: 0px 15px 40px 15px;
}