$primary-color: rgb(252, 226, 186);

* {
    margin: 0;
}

.container {
    margin: auto;
    width: 90%;
    max-width: 1140px;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

body {
    margin: 0;
}

//＝＝＝＝＝＝＝＝
//頁首
//＝＝＝＝＝＝＝＝

header {
    background-color: rgb(171, 126, 71);
}

header>.container>h1 {
    padding-top: 20px;
    color: $primary-color;
}

header>.container>h1>a {
    color: $primary-color;
}



header>.container>nav>ul {
    display: flex;
    // justify-content: space-between;
}

header>.container>nav>ul>li {
    margin-right: 30px;
}

header>.container>nav>ul>li>a {
    text-decoration: none;
    line-height: 60px;
    color: $primary-color;
    font-size: 1.2em;
    letter-spacing: 2px;
}

header>.container>nav>ul>li>a:hover {
    color: rgb(104, 69, 0);
    border-bottom: 2px solid rgb(104, 69, 0);
}

//design-list 內容區

.breadcrumb{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.breadcrumb a{
    color: black;
}

.w-20{
    width: 20%;
}
.w-80{
    width: 80%;
}
.container>.row>aside.col-3>ul>li>a{
    color: white;
    background-color: rgb(165, 91, 0);
    display: block;
    width: 90%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    border-radius: 8px;
}
.container>.row>aside.col-3>ul>li>a:hover{
background-color: rgb(63, 33, 0);

}
.container>.row>main.col-9>h2{
    margin: 0;
    padding: 0;
    padding-left: 15px;
    margin-bottom: 10px;
    color: rgb(100, 56, 0);
}

//design-list 內容區

//==========
//內容區塊
//==========

//圖片相關樣式
.img-fluid {
    width: 100%;
}

.img-rounded {
    border-radius: 8px;
}

.img-circle {
    border-radius: 100%;
    /*圓形*/
}

//圖片相關樣式



//文字相關樣式
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-justify {
    text-align: justify;
}

//文字相關樣式

.row {
    display: flex;
    flex-wrap: wrap;
    /*換行*/
}

//四欄式
.col-3 {
    width: calc(100% / 4 - 30px);
    margin: 0px 15px 40px 15px;
    // background-color: red;
    // 上右下左
}

//三欄式
.col-4 {
    width: calc(100% / 3 - 30px);
    margin: 0px 15px 40px 15px;
    // 上右下左

}

//兩欄式
.col-6 {
    width: calc(100% / 2 - 30px);
    margin: 0px 15px 40px 15px;
}

.col-8{
    width: calc(100% / 1.5 - 30px);
    margin: 0px 15px 40px 15px;
}

.col-9{
    width: calc(100% / 1.333333 - 30px);
    margin:  0px 15px 40px 15px;
}

.title a {
    color: black;
    font-size: 1.5em;
    font-weight: 500;
}

.date {
    color: rgb(170, 129, 18);
}

h2 {
    font-size: 2em;
    margin: 60px auto 30px auto;
}


//＝＝＝＝＝＝＝＝
//頁首
//＝＝＝＝＝＝＝＝

footer {
    background-color: rgb(171, 126, 71);
    padding: 40px 0 40px 0;
}

dt {
    font-size: 1.2em;
    margin-bottom: 10px;
}

dd {
    margin-bottom: 4px;
}

dd>a {
    color: $primary-color;

}

dd>a:hover {
    color: rgb(104, 69, 0);
}