
//設定變數 ＄開頭
$primary-color: #94cdd2;
body{
    font-family:Impact, "微軟正黑體";
    color: $primary-color;
}

.btn-primary{
    background-color: $primary-color;
    color:white;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    letter-spacing: 2px;
}