@charset "UTF-8";
* {
  margin: 0;
}

.container {
  margin: auto;
  width: 90%;
  max-width: 1140px;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

body {
  margin: 0;
}

header {
  background-color: #ab7e47;
}

header > .container > h1 {
  padding-top: 20px;
  color: #fce2ba;
}

header > .container > h1 > a {
  color: #fce2ba;
}

header > .container > nav > ul {
  display: flex;
}

header > .container > nav > ul > li {
  margin-right: 30px;
}

header > .container > nav > ul > li > a {
  text-decoration: none;
  line-height: 60px;
  color: #fce2ba;
  font-size: 1.2em;
  letter-spacing: 2px;
}

header > .container > nav > ul > li > a:hover {
  color: #684500;
  border-bottom: 2px solid #684500;
}

.container > section h2 {
  color: #956202;
  margin-left: 15px;
}

.breadcrumb {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.breadcrumb a {
  color: black;
}

.w-20 {
  width: 20%;
}

.w-80 {
  width: 80%;
}

.container > .row > aside a {
  color: white;
  background-color: #a55b00;
  display: block;
  width: 90%;
  text-align: center;
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.container > .row > aside a:hover {
  background-color: #3f2100;
}

.container > .row > main h2 {
  margin: 0;
  padding: 0;
  padding-left: 15px;
  margin-bottom: 10px;
  color: #643800;
}

.container > .row > main a {
  color: #422101;
}

.container > .row > main a:hover {
  color: #b05902;
}

.img-wrap {
  display: block;
  position: relative;
  margin-bottom: 10px;
}

.img-overlay {
  overflow: hidden;
  border-radius: 8px;
}

.img-wrap img {
  vertical-align: top;
  transition: all 0.5s;
}

.img-wrap img:hover {
  transform: scale(1.5);
}

.icon-new {
  position: absolute;
  width: 50px;
  line-height: 50px;
  color: white;
  border-radius: 100%;
  background-color: green;
  top: -10px;
  left: -5px;
}

.container > .row > main .col-4 {
  padding-bottom: 5px;
  border-bottom: 2px dotted #a1a1a1;
}

.img-fluid {
  width: 100%;
  height: 300px;
}

.img-rounded {
  border-radius: 8px;
}

.img-circle {
  border-radius: 100%;
  /*圓形*/
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-justify {
  text-align: justify;
}

.row {
  display: flex;
  flex-wrap: wrap;
  /*換行*/
}

.col-3 {
  width: calc(100% / 4 - 30px);
  margin: 0px 15px 40px 15px;
}

.col-4 {
  width: calc(100% / 3 - 30px);
  margin: 0px 15px 40px 15px;
}

.col-6 {
  width: calc(100% / 2 - 30px);
  margin: 0px 15px 40px 15px;
}

.col-8 {
  width: calc(100% / 1.5 - 30px);
  margin: 0px 15px 40px 15px;
}

.col-9 {
  width: calc(100% / 1.333333 - 30px);
  margin: 0px 15px 40px 15px;
}

.col-12 {
  width: calc(100% / 1 - 30px);
  margin: 0px 15px 40px 15px;
}

@media (min-width: 768px) {
  .col-md-3 {
    width: calc(100% / 4 - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-4 {
    width: calc(100% / 3 - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-6 {
    width: calc(100% / 2 - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-8 {
    width: calc(100% / 1.5 - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-9 {
    width: calc(100% / 1.333333 - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-12 {
    width: calc(100% / 1 - 30px);
    margin: 0px 15px 40px 15px;
  }
}
@media (min-width: 1200px) {
  .col-lg-3 {
    width: calc(100% / 4 - 30px);
    margin: 0px 15px 40px 15px;
    /*上右下左*/
  }

  .col-lg-4 {
    width: calc(100% / 3 - 30px);
    margin: 0px 15px 40px 15px;
    /*上右下左*/
  }

  .col-lg-6 {
    width: calc(100% / 2 - 30px);
    margin: 0px 15px 40px 15px;
    /*上右下左*/
  }

  .col-lg-8 {
    width: calc(100% / 1.5 - 30px);
    margin: 0px 15px 40px 15px;
    /*上右下左*/
  }

  .col-lg-9 {
    width: calc(100% / 1.33333333333 - 30px);
    margin: 0px 15px 40px 15px;
    /*上右下左*/
  }
}
.col-1 {
  --num:calc(12 / 1);
  width: calc(100%/ var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-2 {
  --num:calc(12 / 2);
  width: calc(100%/ var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-3 {
  --num:calc(12 / 3);
  width: calc(100%/ var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-4 {
  --num:calc(12 / 4);
  width: calc(100%/ var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-5 {
  --num:calc(12 / 5);
  width: calc(100%/ var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-6 {
  --num:calc(12 / 6);
  width: calc(100%/ var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-7 {
  --num:calc(12 / 7);
  width: calc(100%/ var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-8 {
  --num:calc(12 / 8);
  width: calc(100%/ var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-9 {
  --num:calc(12 / 9);
  width: calc(100%/ var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-10 {
  --num:calc(12 / 10);
  width: calc(100%/ var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-11 {
  --num:calc(12 / 11);
  width: calc(100%/ var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-12 {
  --num:calc(12 / 12);
  width: calc(100%/ var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

@media (min-width: 768px) {
  .col-md-1 {
    --num:calc(12 / 1);
    width: calc(100%/ var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-2 {
    --num:calc(12 / 2);
    width: calc(100%/ var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-3 {
    --num:calc(12 / 3);
    width: calc(100%/ var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-4 {
    --num:calc(12 / 4);
    width: calc(100%/ var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-5 {
    --num:calc(12 / 5);
    width: calc(100%/ var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-6 {
    --num:calc(12 / 6);
    width: calc(100%/ var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-7 {
    --num:calc(12 / 7);
    width: calc(100%/ var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-8 {
    --num:calc(12 / 8);
    width: calc(100%/ var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-9 {
    --num:calc(12 / 9);
    width: calc(100%/ var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-10 {
    --num:calc(12 / 10);
    width: calc(100%/ var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-11 {
    --num:calc(12 / 11);
    width: calc(100%/ var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-12 {
    --num:calc(12 / 12);
    width: calc(100%/ var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }
}
@media (min-width: 1200px) {
  .col-lg-1 {
    --num:calc(12 / 1);
    width: calc(100%/ var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-2 {
    --num:calc(12 / 2);
    width: calc(100%/ var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-3 {
    --num:calc(12 / 3);
    width: calc(100%/ var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-4 {
    --num:calc(12 / 4);
    width: calc(100%/ var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-5 {
    --num:calc(12 / 5);
    width: calc(100%/ var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-6 {
    --num:calc(12 / 6);
    width: calc(100%/ var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-7 {
    --num:calc(12 / 7);
    width: calc(100%/ var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-8 {
    --num:calc(12 / 8);
    width: calc(100%/ var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-9 {
    --num:calc(12 / 9);
    width: calc(100%/ var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-10 {
    --num:calc(12 / 10);
    width: calc(100%/ var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-11 {
    --num:calc(12 / 11);
    width: calc(100%/ var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-12 {
    --num:calc(12 / 12);
    width: calc(100%/ var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }
}
.title a {
  color: #502804;
  font-size: 1.5em;
  font-weight: 500;
}

.date {
  color: #aa8112;
}

h2 {
  font-size: 2em;
  margin: 60px auto 30px auto;
}

footer {
  background-color: #ab7e47;
  padding: 40px 0 40px 0;
}

dt {
  font-size: 1.2em;
  margin-bottom: 10px;
}

dd {
  margin-bottom: 4px;
}

dd > a {
  color: #fce2ba;
}

dd > a:hover {
  color: #684500;
}

.container > .row > .col-4 > a > div {
  height: 300px;
  overflow: hidden;
  border-radius: 8px;
}

.container > .row > .col-4 > a > div > img {
  display: block;
  transition: all 0.5s;
}

.container > .row > .col-4 > a > div:hover > img {
  transform: scale(1.5);
}

@media (max-width: 767px) {
  h1 {
    float: left;
  }

  .icon-menu {
    display: block;
    width: 15%;
    color: black;
    background-color: #fce2ba;
    line-height: 65px;
    text-align: center;
    float: right;
  }

  header > .container {
    position: relative;
  }

  header > .container > nav {
    width: 100%;
    float: left;
    display: none;
  }

  header > .container > nav.active {
    display: block;
  }

  header > .container > nav > ul {
    display: block;
  }

  header > .container > nav > ul > li {
    text-align: center;
    width: 100%;
  }

  .overflow-hidden {
    overflow: hidden;
  }
}
@media (min-width: 768px) {
  .icon-menu {
    display: none;
  }
}
.fz-1 {
  font-size: 1em;
}

.fz-2 {
  font-size: 2em;
}

.fz-3 {
  font-size: 3em;
}

.mb-1 {
  margin-bottom: 1em;
}

.mb-2 {
  margin-bottom: 2em;
}

.mb-3 {
  margin-bottom: 3em;
}

.mb-4 {
  margin-bottom: 4em;
}

.mb-5 {
  margin-bottom: 5em;
}