doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Ms.White
  link(rel='stylesheet' href='public/css/styles.css')
// header start
body
    header
      .container
        h1
          a(href='index.html')  Ms.White cofe
        nav
          ul
            li
              a(href='#') 最新消息
            li
              a(href='product.html') 嚴選商品
            li
              a(href='#') 門市資訊
            li
              a(href='#') 咖啡豆專區
            li
              a(href='#') 懷特Lounge卡
            li
              a(href='#') 懷特講堂
            li
              a(href='onlinestore.html') 線上購物
    // header end
    img.img-fluid(src='https://picsum.photos/1920/450' alt='')
    // content start
    .container
      h2.text-center 注目焦點
      .row
        .col-4
          a(href='#')
            div
              img.img-fluid.img-rounded(src='public/images/coffee.jpg' alt='')
          p.title.text-center
            a(href='#')【輕食餐盒】全品項8折輕鬆點
          p.date.text-center 多款筆管麵、三明治餐盒，輕鬆享受
        .col-4
          a(href='#')
            div
              img.img-fluid.img-rounded(src='public/images/coffee.jpg' alt='')
          p.title.text-center
            a(href='#') 【仲夏繽果】檸檬美式咖啡
          p.date.text-center SUMMER BINGO!!
        .col-4
          a(href='#')
            div
              img.img-fluid.img-rounded(src='public/images/coffee.jpg' alt='')
          p.title.text-center
            a(href='#') 【☀盛夏繽紛】伯朗咖啡豆全品項任選二件6折
          p.date.text-center 嚴選咖啡豆、精品咖啡豆系列 任二件6折
        .col-4
          a(href='#')
            div
              img.img-fluid.img-rounded(src='public/images/coffee.jpg' alt='')
          p.title.text-center
            a(href='#') 【好食成雙】指定午晚套餐買一送一
          p.date.text-center 平日指定午晚套餐買一送一
        .col-4
          a(href='#')
            div
              img.img-fluid.img-rounded(src='public/images/coffee.jpg' alt='')
          p.title.text-center
            a(href='#') 美味早餐套餐】全品項85折
          p.date.text-center 美味早餐套餐享85折優惠
    // content end
    footer
      .container
        .row
          dl.col-3
            dt 關於壞特
            dd
              a(href='#') 企業沿革
            dd
              a(href='#') 經營理念
            dd
              a(href='#') 企業責任
            dd
              a(href='#') 企業徵才
          dl.col-3
            dt 壞特會員
            dd
              a(href='#') 加入會員
            dd
              a(href='#') 忘記密碼
            dd
              a(href='#') 取消/訂閱電子報
            dd
              a(href='#') 補發認證信
          dl.col-3
            dt &nbsp;
            dd
              a(href='#') 會員登入
            dd
              a(href='#') 會員資料修改
            dd
              a(href='#') 會員密碼修改
          dl.col-3
            dt 友站連結
            dd
              a(href='#') 機車關係事業
            dd
              a(href='#') 台灣咖啡協會
            dd
              a(href='#') 原味誌
            dd
              a(href='#') 機車知性之旅
        p.copyright.text-center  本站僅供學習駛使用，不用於商業用途。
