doctype html

head

  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Ms.White&#xFF5C;Product
  link(rel='stylesheet' href='public/css/styles.css')
body
 // header start

 header
  .container.overflow-hidden 
    a.icon-menu(href="#") menu
    h1
      a(href='index.html')  Ms.White cofe
    nav
      ul
        li
          a(href='#') 最新消息
        li
          a(href='product.html') 嚴選商品
        li
          a(href='#') 門市資訊
        li
          a(href='#') 咖啡豆專區
        li
          a(href='#') 懷特Lounge卡
        li
          a(href='#') 懷特講堂
        li
          a(href='onlinestore.html') 線上購物

 // header end

 // content start

 .container
  .row
    p.col-12.breadcrumb
      a(href='index.html') 首頁
      |                 &nbsp;&nbsp;>&nbsp;&nbsp;
      a(href='#') 嚴選商品
      |                 &nbsp;&nbsp;>&nbsp;&nbsp;
      a(href='#') 最新產品
    aside.col-12.col-md-3
      ul
        li
          a(href='#') 最新產品
        li
          a(href='#') 飲品介紹
        li
          a(href='#') 餐點介紹
        li
          a(href='#') 周邊商品
        li
          a(href='#') 懷特咖啡券
        li
          a(href='#') 懷特電子禮券票券
        li
          a(href='#') 點餐單下載
    main.col-12.col-md-9
      h2 最新產品
      .row
        // product start
        .col-12.col-md-4.text-center
          a.img-wrap(href='#')
            .img-overlay
              img.img-fluid(src='http://epaper.ntu.edu.tw/uploadimages/S__6774816.jpg' alt='')
              span.icon-new NEW
          a(href='#') 美式咖啡
        .col-12.col-md-4.text-center
          a.img-wrap(href='#')
            .img-overlay
              img.img-fluid(src='https://image.cache.storm.mg/styles/smg-800x533-fp/s3/media/image/2018/03/01/20180301-041341_U9180_M385795_4c37.jpg?itok=VbjRovPR' alt='')
              span.icon-new NEW
          a(href='#') 冰滴咖啡
        .col-12.col-md-4.text-center
          a.img-wrap(href='#')
            .img-overlay
              img.img-fluid(src='https://doqvf81n9htmm.cloudfront.net/data/crop_article/106544/shutterstock_521711431.jpg_1140x855.jpg' alt='')
              span.icon-new NEW
          a(href='#') 拿鐵
        .col-12.col-md-4.text-center
          a.img-wrap(href='#')
            .img-overlay
              img.img-fluid(src='https://thumbs.dreamstime.com/z/%E6%9D%AF%E7%84%A6%E7%B3%96%E6%8B%BF%E9%93%81%E5%92%96%E5%95%A1-54335843.jpg' alt='')
              span.icon-new NEW
          a(href='#') 焦糖拿鐵
        .col-12.col-md-4.text-center
          a.img-wrap(href='#')
            .img-overlay
              img.img-fluid(src='https://www.stylemaster.com.tw/wp-content/uploads/2021/02/%E9%B9%B9%E7%84%A6%E7%B3%96%E7%B6%BF%E9%9B%B2%E7%91%AA%E5%A5%87%E6%9C%B5%EF%BC%8C%E5%94%AE%E5%83%B9Tall-140Grande-155Venti-170.jpg' alt='')
              span.icon-new NEW
          a(href='#') 焦糖瑪奇朵
        .col-12.col-md-4.text-center
          a.img-wrap(href='#')
            .img-overlay
              img.img-fluid(src='https://www.starbucks.com.tw/common/objects/images/product/20211001110857273.jpg' alt='')
              span.icon-new NEW
          a(href='#') 卡布奇諾
        // product start

 // content end

 footer
  .container
    .row
      dl.col-3
        dt 關於懷特
        dd
          a(href='#') 企業沿革
        dd
          a(href='#') 經營理念
        dd
          a(href='#') 企業責任
        dd
          a(href='#') 企業徵才
      dl.col-3
        dt 懷特會員
        dd
          a(href='#') 加入會員
        dd
          a(href='#') 忘記密碼
        dd
          a(href='#') 取消/訂閱電子報
        dd
          a(href='#') 補發認證信
      dl.col-3
        dt &nbsp;
        dd
          a(href='#') 會員登入
        dd
          a(href='#') 會員資料修改
        dd
          a(href='#') 會員密碼修改
      dl.col-3
        dt 友站連結
        dd
          a(href='#') 機車關係事業
        dd
          a(href='#') 台灣咖啡協會
        dd
          a(href='#') 原味誌
        dd
          a(href='#') 機車知性之旅
