doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel='stylesheet' href='public/css/styles.css')
    // header start
body
    header
      .container
        .row.flex-space-between
          h1
            a(href='index.html')  Ms.White cafe
          a.icon-menu(href="#") menu
          nav
            ul
              li
                a(href='activity.html') 最新消息
              li
                a(href='product.html') 嚴選商品
                ul.submenu
                  li
                    a(href="#") 品牌設計
                  li 
                    a(href="#") 包裝設計 

              li
                a(href='#') 門市資訊
              li
                a(href='susi.html') 咖啡豆專區
              li
                a(href='#') 懷特Lounge卡
                ul.submenu
                  li
                    a(href="#") 品牌設計
                  li 
                    a(href="#") 包裝設計 
              li
                a(href='#') 懷特講堂
                
              li
                a(href='onlinestore.html') 線上購物
    // header end